@import './src/style';

.checkbox {
   --size_before: 15px;

   justify-self: flex-start;
   display: grid;
   grid-auto-columns: var(--minmax);
   grid-auto-flow: column;
   align-items: center;
   column-gap: 5px;
}

.input {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -999;
   opacity: 0;
}

.label {
   position: relative;

   padding-left: calc(var(--size_before) + 5px);

   font: var(--h2);
   font-size: 14px;
   color: var(--black);

   cursor: pointer;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: var(--size_before);
      height: var(--size_before);

      border: 1px solid var(--black);
      border-radius: 4px;
   }

   &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scale(0);

      width: var(--size_before);
      height: var(--size_before);

      background-color: var(--black);
      border-radius: 4px;
      transition:transform 300ms ease;
   }
}

.input:checked + .label::after {
   transform: translateY(-50%) scale(0.6);
}

.input:focus + .label::before {
   border: 2px solid var(--black);
}
