@import './src/style';

.massage {
   display: inline-grid;
   grid-auto-flow: column;
   column-gap: 24px;
}

.avatar {
   width: 25px;
   height: 25px;
   border-radius: 50%;
}

.text {
   padding: 6px 12px;
   font: var(--text);
   background-color: var(--blue);
   border-radius: 8px;
}
