@import './src/style';

.post {
   padding: 20px;

   color: var(--black);

   background-color: var(--blue);
   box-shadow: 0 0 3px var(--black);
   border-radius: 12px;

   .text {
      display: inline-block;
      margin-bottom: 6px;
      padding: 4px 8px;

      font: var(--text);

      background-color: var(--white);
      border-radius: 6px;

   }

   .time {
      display: block;
      font: var(--caption);
      text-align: right;
   }
}



