@font-face {
   font-family: Montserrat_Regular;
   font-display: swap;
   src: url(./../fonts/Montserrat-Regular.woff2) format("woff2"),url(./../fonts/Montserrat-Regular.woff) format("woff");
   font-weight: 400;
   font-style: normal
}

@font-face {
   font-family: Montserrat_Medium;
   font-display: swap;
   src: url(./../fonts/Montserrat-Medium.woff2) format("woff2"),url(./../fonts/Montserrat-Medium.woff) format("woff");
   font-weight: 500;
   font-style: normal
}

@font-face {
   font-family: Montserrat_Bold;
   font-display: swap;
   src: url(./../fonts/Montserrat-Bold.woff2) format("woff2"),url(./../fonts/Montserrat-Bold.woff) format("woff");
   font-weight: 700;
   font-style: normal
}

:root {
   --h1: 48px/1.1 "Montserrat_Bold";
   --h2: 22px/1.2 "Montserrat_Medium";
   --h3: 20px/1.1 "Montserrat_Medium";
   --text: 18px/1.2 "Montserrat_Regular";
   --caption: 14px/1.1 "Montserrat_Regular";

   @include media(max, xxl) {
      --h1: 40px/1.1 "Montserrat_Bold";
      --h2: 20px/1.2 "Montserrat_Medium";
      --h3: 18px/1.1 "Montserrat_Medium";
      --text: 16px/1.2 "Montserrat_Regular";
      --caption: 13px/1.1 "Montserrat_Regular";
   }

   @include media(max, lg) {
      --h1: 32px/1.1 "Montserrat_Bold";
      --h2: 18px/1.2 "Montserrat_Medium";
      --h3: 16px/1.1 "Montserrat_Medium";
      --text: 14px/1.2 "Montserrat_Regular";
      --caption: 12px/1.1 "Montserrat_Regular";
   }
}
