$grid_breakpoints: (
    xxl: 1639px,
    xl: 1279px,
    lg: 1023px,
    md: 767px,
);

:root {
   --header_size: 80px;
   --footer_size: 70px;
   --menu_size: 300px;
   --minmax: minmax(min-content, max-content);

   @include media(max, xxl) {
      --menu_size: 260px;
   }
}