@import './src/style';

.menu {
   grid-area: menu;
   height: calc(100vh - var(--footer_size));
   min-height: 640px;
   padding: 64px 24px;
   background-color: var(--black);

   .list {
      display: grid;
      grid-template-rows: repeat(3, var(--minmax)) 1fr var(--minmax);
      row-gap: 16px;
      height: 100%;
   }

   .item {
   }

   .link {
      display: block;
      border-radius: 8px;
      padding: 4px 24px;

      font: var(--h2);
      color: var(--blue);
      transition: background-color 300ms ease, color 300ms ease;

      &:hover {
         background-color: var(--blue);
         color: var(--black);
      }
   }
}
