@import './src/style';

.message {
   display: inline-grid;
   grid-auto-flow: column;
   align-items: center;
   column-gap: 12px;

   .avatar {
      width: 25px;
      height: 25px;
      border-radius: 50%;
   }

   .text {
      padding: 8px 12px;
      font: var(--text);
      background-color: var(--blue);
      border-radius: 8px;
   }
}
