@import './src/style';

.account {

   .container {
      @extend .container;
      display: grid;
      grid-template-rows: repeat(2, var(--minmax)) 1fr ;
      row-gap: 48px;
   }

   .banner {
      height: 250px;
      margin: -64px 0 48px;

      @include  media(max, xxl) {
         margin: -48px 0 48px;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .info {
      display: grid;
      grid-template-columns: repeat(2, var(--minmax));
      align-items: center;
      column-gap: 24px;
   }

   .avatar {
      --size: 150px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
   }

   .description {
      font: var(--text);
   }

   .name {
      font: var(--h2);
      text-transform: uppercase;
   }

   .text {
      font: var(--text);
   }

   .entry_field {
      display: grid;
      justify-items: center;
      row-gap: 24px;
   }

   .textarea {
      width: 100%;
      height: 150px;
      padding: 24px;

      font: var(--text);

      border: 1px solid var(--black);
      border-radius: 12px;
      resize: none;
   }

   .button {
      width: 100%;
      max-width: 320px;
      padding: 5px;

      font: var(--h2);
      text-transform: uppercase;

      border: 1px solid var(--black);
      background-color: transparent;
   }

   .list {
      display: grid;
      row-gap: 40px;
   }
}