@import '../../../style';

.personal {
   display: grid;
   grid-template-columns: repeat(2, var(--minmax));
   grid-template-areas:
      'avatar description social_network'
      'avatar description social_network'
      'status status social_network'
      'description_job description_job social_network'
   ;
   align-items: center;
   gap: 12px 24px;
   margin-bottom: 14px;
}
