.button {
   min-width: 50px;
   padding: 15px 20px;

   font: var(--h2);
   font-size: 20px;
   color: var(--black);

   background-color: var(--blue);
   border: none;
   border-radius: 6px;
   transition: color 300ms ease, background-color 300ms ease;

   &:hover {
      color: var(--blue);
      background-color: var(--black);
   }
}

.button_active {
   position: relative;
   color: var(--blue);
   background-color: var(--black);
   overflow: hidden;

   &:hover::before {
      top: 300%;
   }

   &::before {
      content: '';
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-60%) rotate(-45deg);

      width: 350%;
      height: 20px;

      background-color: var(--blue);
      transition: top 450ms ease;
   }
}
