@import './src/style';

.page {
   display: grid;
   grid-template-columns: var(--menu_size) repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr) var(--footer_size);
   grid-template-areas:
      "menu content content"
      "menu content content"
      "menu footer footer";
   margin: 0 auto;
   background-color: var(--white);

   @include media(max, xxl) {
      grid-template-columns: var(--menu_size) repeat(2, 1fr);
   }

   .content {
      --content_padding: 64px;
      @extend .container;
      grid-area: content;
      display: block;
      width: calc(100% - var(--container_padding) * 2);
      margin-top: var(--header_size);
      padding-top: var(--content_padding);
      padding-bottom: var(--content_padding);

      @include media(max, xxl) {
         --content_padding: 48px
      }
   }
}
