@import './src/style';

.page {
   display: grid;
   grid-template-columns: var(--menu_size) repeat(2, 1fr);
   grid-auto-rows: var(--minmax);
   grid-template-areas:
      "menu content content"
      "menu content content"
      "menu content content"
      "footer footer footer";
   margin: 0 auto;

   @include media(max, xxl) {
      grid-template-columns: var(--menu_size) repeat(2, 1fr);
   }

   .content {
      grid-area: content;
      max-width: 1200px;
      margin: var(--header_size) auto 0 auto;
      padding: 48px 64px;
      box-sizing: content-box;

      @include  media(max, xxl) {
         padding: 48px 48px;
      }

      @include  media(max, md) {
         padding: 48px 20px;
      }
   }
}
