@import './src/style';

.page {
   display: grid;
   grid-template-columns: 480px repeat(2, 1fr);
   grid-auto-rows: var(--minmax);
   grid-template-areas:
      "header header header"
      "menu content content"
      "menu content content"
      "footer footer footer";
   margin: 0 auto;

   @include media(max, xxl) {
      grid-template-columns: 380px repeat(2, 1fr);
   }

   .content {
      grid-area: content;
      max-width: 1200px;
      margin: var(--header_size) auto 0 auto;
      padding: 48px 64px;
      box-sizing: content-box;
   }
}
