@import './assets/scss/mixins';
@import './assets/scss/variable';
@import './assets/scss/fonts';
@import './assets/scss/colos';

.container {
   --container_padding: 64px;
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 var(--container_padding);
   box-sizing: content-box;

   @include  media(max, xxl) {
      --container_padding: 48px;
   }

   @include  media(max, md) {
      --container_padding: 20px;
   }
}
