
.input_wrap {
   --valid_color: #01b984;
   position: relative;
   border: 2px solid var(--blue);
   border-radius: 8px;
   transition: border 300ms ease, margin-bottom 500ms ease;
}

.valid {
   border: 2px solid var(--valid_color);
}

.error {
   border: 2px solid red;
   margin-bottom: 10px;
}

.input {
   height: 45px;
   padding: 15px 35px 10px 15px;

   font: var(--text);
   font-size: 18px;
   color: var(--black);

   border: none;
   border-radius: 8px;
}

.legend {
   position: relative;
   z-index: 1;
   margin-left: 15px;
   padding: 0 3px;

   font: var(--h2);
   font-size: 14px;
   color: var(--blue);
   transition: color 500ms ease;
}

.legend_valid {
   color: var(--valid_color);
}

.legend_error {
   color: red;
}

.input::selection,.legend::selection {
   color: var(--blue);
   background-color: var(--black);
}

.input:focus + .legend {
   color: var(--black);
}

.button_svg {
   position: absolute;
   top: 45%;
   right: 8px;
   transform: translateY(-50%);
   border: none;
   background-color: transparent;
}

.text_error {
   justify-self: start;
   font: var(--h2);
   color: tomato;
}
