@import '../../../../style';

.button {
   width: var(--button_size, 100%);
   max-width: 320px;
   padding: 12px 12px;

   font: var(--h2);
   text-transform: uppercase;
   color: var(--blue);

   border: none;
   background-color: var(--black);
   border-radius: 8px;
   transition: color 300ms ease, background-color 300ms ease;

   &:hover {
      color: var(--black);
      background-color: var(--blue);
   }

   &:active {
      transform: translateY(3px);
   }
}

.button:disabled,
.button[disabled] {
   border: 3px solid #999999;
   background-color: darkgrey;
   color: #fff;
   padding: 10px;
   cursor: not-allowed;
}
